<tr class="warning">
	<td><%= link_to (maket.name), maket, target: "_blank"%></td>
	<td><%= link_to "show", maket, target: "_blank" %></td>
	<td><%= link_to "click to copy in clipboard", maket, class: "copy_text", remote: true %></td>
	<td><%= link_to 'delete', maket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>