<tr class="warning">
	<td><%= link_to (maket.name), maket, target: "_blank"%></td>
	<td><%= link_to "Просмотр", maket, target: "_blank" %></td>
	<td><%= link_to "Скопировать в буффер обмена", maket, class: "copy_text", remote: true %></td>
	<td><%= link_to 'Удалить', maket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>