<h4>Изменение информации о пользоватле</h4>

<%= form_for @user do |f| %>
	<%= render 'form', f: f %>
	<%= f.submit "Сохранить изменения" ,class: "btn btn-success" %>
<% end %>

<%= link_to "Вернуться", users_url %>