<h4>Добавление пового пользователя</h4>

<%= form_for @user do |f| %>
	<%= render 'form', f: f %>
	<%= f.submit "Добавить пользователя" ,class: "btn btn-success" %>
<% end %>

<%= link_to "Вернуться", users_url %>