  <% if @project.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        Ошибки при сохранении проекта:
      </div>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Имя проекта", class: "form-control" %>
  </div>