<div class="jumbotron">
	<h3>Versions</h3>
	<%= render 'versions/add_version', :version => @project.versions.build %>
	<table class="table table-hover versions">
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<%= render :partial => "versions/version", :collection => @project.versions.order("created_at ASC"), :as => 'version' %>
	</table>
</div>
<%= link_to "Back to projects", projects_path %>