<div class="jumbotron">
	<h3>Versions</h3>
	<table class="table table-hover versions">
		<%= render :partial => "versions/version", :collection => @project.versions, :as => 'version' %>
	</table>
</div>
<%= render 'versions/add_version', :version => @project.versions.build %>