<tr class="warning">
	<td><%= link_to (version.name), project_version_path(version.project.id, version) %></td>
	<td><%= link_to "Просмотр", project_version_path(version.project.id, version) %></td>
	<td><%= link_to "Удалить", project_version_path(version.project_id, version), method: :delete, data: { confirm: 'Вы уверены?' }  %></td>
</tr>