.sign_in {
	width: 300px;
	height: 235px;
	.form-control {
		height: 45px;
		font-size: 16px;
	}
	.top {
		border-radius: 4px 4px 0 0;
		margin-bottom: -1px;
	}
	.form-control:focus {
		z-index: 2;
		position: relative;
	}
	.bot {
		border-radius: 0 0 4px 4px;
	}

	.btn-primary {
		background: #9759E3;
		border-color: #883AE8;
	}

	.btn-primary:hover {
		background: #8A31F7;
		border-color: #883AE8;
	}

	.btn-primary:focus {
		background: #8A31F7;
		border-color: #883AE8;
	}
}