<ul class="nav nav-pills">
	<% if params[:controller] == 'users' %>
		<li class="active">
	<% else %>
		<li>
	<% end %>
		<%= link_to "Users", users_path %>
		</li>
	<% if params[:controller] == 'projects' %>
		<li class="active">
	<% else %>
		<li>
	<% end %>
		<%= link_to "Projects", projects_path %>
		</li>
</ul>